.service-block {
    position: relative; 
    /* margin-left: 5%; */
    width: 90%;
    min-height: 83px;
   
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: flex-start; */
    
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    border-color: #B2664C;
  }
  .service-name{
    margin-top: 22px;
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
  .expand-icon {
    margin-right: 10px;
    width: 15px;
    transform-origin: center;
    transition: transform 0.2s ease;
  }
  .price-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }
  .subtitleth{
    text-align: center;
    background-color: #F9FBFC;
  }

  .price-table th,
  .price-table td {
    padding: 8px;
  }
  .price-table th{
    /* background-color: #F9FBFC; */
    /* font-family: "Lato"; */
    font-weight: 600;
  }

  .price-table tr{
    border-bottom: 1px solid #ccc;
  }
  .price-table tr:last-child{
    border-bottom: none;
  }
  .price-table tr:first-child{
    background-color: #F9FBFC;
  }
  .price-table th:first-child,
.price-table td:first-child {
  border-top-left-radius: 9px;
}

.price-table th:last-child,
.price-table td:last-child {
  border-top-right-radius: 9px;
}

  .service-block .services-content {
   display: block;
   margin-top: 1vh;
   margin-left: 1%;
   margin-right: 1%;
   top: 100%;
   left: 0; 
   /* width: 100%; */
   background-color: #fff; 
   border: 1px solid #ccc;
   border-radius: 10px;

  }
  
  .service-block.expanded .services-content {
    display: block;
}
.wrapper-services{
    min-height: auto;
}

@media (max-width: 850px) {
    .price-table th,
    .price-table td {
    padding: 4px;
  }
    .service-block {
        position: relative; 
        width: 90%;
        min-height: 63px;
    }
    .service-name{
        margin-top: 22px;
        font-family: 'Open Sans';
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0em;
        
      }
      .expand-icon {
       
        width: 13px;
        
      }
      .price-table {
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0em;
      }
}
@media (max-width: 410px) {
    .price-table th,
    .price-table td {
    padding: 1px;
  }
  .service-name{
    margin-top: 16px;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
    
  }
  .price-table {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0em;
  }
}
/*--------------------------------------------------------------------------------------------------*/
/* .ContactPage{
    display: flex;
} */
.flex-container{
    min-width: 600px;
    
}
.containerCon {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }
  
  #block1,
  #block2 {
    flex: 1;
    margin: 10px;
    border-radius: 22px;
    border: 1px solid #F07E00;
    position: relative;
  }
  
  #block3 {
    flex: 2;
    margin: 10px;
    border-radius: 22px;
    border: 1px solid #F07E00;
  }
  #block4 {
    flex: 1;
    margin: 10px;
    border-radius: 22px;
    border: 1px solid #F07E00;
    display: none;
  }
  .block {
    display: flex;
    flex-direction: column;
  }
  
  .text {
    margin: 10px;
  }

  .text span{
    text-decoration: underline;
  }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

  .text>p{
    margin: 10px;
    flex-grow: 1;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .logo_vk {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .photo {
    background-size: cover;
  }
  @media (max-width: 850px) {
    .text>p{
        font-size: 20px;
        line-height: 24px;
    }
    #block3{
        display: none;
    }
    #block4 {
        display: flex;
    }

}
  @media (max-width: 750px) {
    #block2,
    #block3{
        display: none;
    }
}
   

  /*--------------------------------------------------------------------------------------------------*/
.PrivacyPolicy{
    margin: 5%;
    border-radius: 22px;
    border: 1px solid #F07E00;
}
.ContentPrivacy{
    margin: 3%;
}
.ContentPrivacy .subtitle{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}
.ContentPrivacy .text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.ContentPrivacy .block_info{
    margin-top: 3%;
}
.ContentPrivacy .block_info:first-child{
    margin-top: 0%;
}
.ContentPrivacy .table{
    border: solid 1px #F17F01;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 2%;
}
.ContentPrivacy td{
    padding: 10px;
}
.table tr{
    border-bottom: 1px solid #F17F01;
}

@media (max-width: 850px) {
    .ContentPrivacy .subtitle{
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 13px;
        line-height: 23px;
    }
    .ContentPrivacy .text{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;
    }
    .ContentPrivacy .table{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 11px;
        line-height: 17px;
    }
}
@media (max-width: 550px) {
    .ContentPrivacy .subtitle{
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 12px;
        line-height: 21px;
    }
    .ContentPrivacy .text{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
    }
    .ContentPrivacy .table{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
    }
}


/*--------------------------------------------------------------------------------------------------*/
.ServicePage {
    
    padding: 20px;
  }
.ServiceBlock{
    margin-top: 3vh;
    display: flex;
}
  .LeftSection {
    flex: 1;
    padding: 10px;
    min-width: 200px;
    max-width: 300px;
  }
  
  .CenterSection {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
  }
  
  .CenterBlock {
    flex: 1;
    border: 1px solid #F17F01;
    padding: 25px;
    border-radius: 22px;
    margin-right: 15%;
  }
  .CenterBlock > p{
    margin-top: 1vh;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .CenterBlock > p:first-child{
    margin-top: 0;
  }
  
.CenterFill{
    background-color:  #F07E00;
   
}
.CenterFill > p{
    color: #ffffff;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}
.LeftSection > .LeftTitle{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
}
.LeftSection > .LeftSubTitle{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.service-table{
    border: 1px solid #ccc;
    border-radius: 20px;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 0;
}
.service-table {
    width: 100%;
    font-family: 'Lato', sans-serif;
    color:  #6A6A65;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }
  .service-table th,
  .service-table td {
    padding: 8px;
  }
  